# MAKE A COPY OF THIS AND FILL WITH YOUR CREDENTIALS AND NAME IT .env (Remove .sample Part)

# ENVIRONMENT | 'development' or 'production'
NODE_ENV='development'
PORT=5432
RUNNING_ON_MACHINE=windows
REDIS_URL=redis://localhost:6379

# TRUSTED URLS | ["https://epns.io", "https://backend.epns.io", "https://app.epns.io", "https://www.epns.io"]
TRUSTED_URLS=["https://epns.io", "https://backend.epns.io", "https://app.epns.io", "https://www.epns.io"]

# DATABASE
DB_HOST=localhost
DB_NAME=dbname
DB_USER=2roor
DB_PASS=s1mpl3

# FILE SYSTEM
FS_SERVER_DEV=http://localhost:4000/cache/
FS_SERVER_PROD=https://showrunners.epns.io/cache/

SERVE_STATIC_FILES=public
SERVE_CACHE_FILES=cache

# SERVER RELATED
DEFAULT_MAX_ATTEMPTS=3

# EPNS RELATED
EPNS_DEPLOYED_CONTRACT=0xc882dA9660d29c084345083922F8a9292E58787D

# ENS RELATED
ENS_DEPLOYED_CONTRACT=0x57f1887a8bf19b14fc0df6fd9b2acc9af147ea85

# COMPOUND RELATED
COMPOUND_COMPTROLLER_DEPLOYED_CONTRACT=0x5eae89dc1c671724a672ff0630122ee834098657
CDAI=0xf0d0eb522cfa50b716b3b1604c4f0fa6f04376ad
CBAT=0x4a77fAeE9650b09849Ff459eA1476eaB01606C7a
CETH=0x41b5844f4680a8c38fbb695b7f9cfd1f64474a72
CREP=0xa4ec170599a1cf87240a35b9b1b8ff823f448b57
CSAI=0xb3f7fb482492f4220833de6d6bfcc81157214bec
CUNI=0x35a18000230da775cac24873d00ff85bccded550
CUSDC=0x4a92e71227d294f041bd82dd8f78591b75140d63
CUSDT=0x3f0a0ea2f86bae6362cf9799b523ba06647da018
CWBTC=0xa1faa15655b0e7b6b6470ed3d096390e6ad93abb
CZRX=0xaf45ae737514c8427d373d50cd979a242ec59e5a
PRICE=0xbBdE93962Ca9fe39537eeA7380550ca6845F8db7

# EVEREST RELATED
EVEREST_DEPLOYED_CONTRACT=0x445B774C012c5418d6D885f6cbfEB049a7FE6558

# UNI RELATED
UNI_GOVERNANCE_DEPLOYED_CONTRACT_ROPSTEN=0x46219c397a8A8990f1B2172a7139C1Ea921D44E2
UNI_GOVERNANCE_DEPLOYED_CONTRACT_MAINNET=0x5e4be8Bc9637f0EAA1A755019e06A68ce081D58F

# AAVE RELATED
AAVE_LENDINGPOOL_DEPLOYED_CONTRACT_KOVAN=0xE0fBa4Fc209b4948668006B2bE61711b7f465bAe
AAVE_LENDINGPOOL_DEPLOYED_CONTRACT_MAINNET=0x7d2768dE32b0b80b7a3454c06BdAc94A69DDc7A9
AAVE_LENDINGPOOL_DEPLOYED_CONTRACT_POLYGON_MAINNET=0x8dFf5E27EA6b7AC08EbFdf9eB090F32ee9a30fcf
AAVE_LENDINGPOOL_DEPLOYED_CONTRACT_POLYGON_MUMBAI=0x9198F13B08E299d85E096929fA9781A1E3d5d827

# BPROTCOL RELATED
BBAT=0x7776a65d70465bd598ca7e177d7CB62025e5c448
BCOMP=0x930F1d6616de5E5765919863D59354bB3332fB04
BDAI=0x0b1B0Aa805e48af767a6ec033984f9d7bffb56dd
BETH=0x2acf65206bA29E0245B57a5D556Af7340B62eeb5
BLINK=0x9Edf78ba1d0D6B30dAEb0244Bd59e287a631cEA8
BTUSD=0x1caAE5929c2D33A6e2ba23d85FE3031954dbda70
BUNI=0x1E7C30d49dE4dF2ac86406783ed75B210a277aa9
BUSDC=0xc33E1541dC8C9F4BeCb4517EB1Acc5f8C67E766b
BUSDT=0x4B17d8CAB1090A90C5e46045E6faCDB81Ca9BD65
BWBTC=0xB6473C402116422f62Ff0ECc4B7E2b71911441AE
BZRX=0x8c4f8f1d867f77251C1a1d470930d5F8E310e8F1

B_COMP_COMP=0x70e36f6bf80a52b3b46b3af8e106cc0ed743e8e4
B_COMP_LINK=0xface851a4921ce59e912d19329929ce6da6eb0c7
B_COMP_TUSD=0x12392f67bdf24fae0af363c24ac620a2f67dad86
B_COMP_UNI=0x35a18000230da775cac24873d00ff85bccded550

#kovan deployed contracts
COMPOUND_COMPTROLLER_DEPLOYED_CONTRACT_MAINNET=0x5eae89dc1c671724a672ff0630122ee834098657
BPROTOCOL_BCOMPTROLLER_DEPLOYED_CONTRACT=0x777f6369cc1cf921905c8899e127391d6ee5f009
BPRICE=0x42CAA09EE47e01011C869A211b162B7aD690d2f8
BAVATAR=0x0056186fbFCB8cD679343ae88764EFef55EA12B2
B_COMP_BAT=0x4a77fAeE9650b09849Ff459eA1476eaB01606C7a
B_COMP_DAI=0xF0d0EB522cfa50B716B3b1604C4F0fA6f04376AD
B_COMP_ETH=0x41B5844f4680a8C38fBb695b7F9CFd1F64474a72
B_COMP_WBTC=0xa1fAA15655B0e7b6B6470ED3d096390e6aD93Abb
B_COMP_ZRX=0xAf45ae737514C8427D373D50Cd979a242eC59e5a
B_COMP_USDC=0x4a92E71227D294F041BD82dd8f78591B75140d63
B_COMP_USDT=0x3f0A0EA2f86baE6362CF9799B523BA06647Da018

# ALTERNATIVES THAT ROCK
# https://medium.com/linkpool/release-of-public-ethereum-rpcs-f5dd57455d2e
# https://ropsten-rpc.linkpool.io/
# wss://ropsten-rpc.linkpool.io/ws
# https://main-rpc.linkpool.io
# wss://main-rpc.linkpool.io/ws

# IPFS
IPFS_MAX_ATTEMPTS=3
IPFS_GATEWAY=https://gateway.ipfs.io/ipfs/
IPFS_LOCAL_ENDPOINT=something
IPFS_INFURA_ENDPOINT=https://ipfs.infura.io:5001

# DEBUG
LOG_LEVEL='debug'

# SHOWRUNNERS APIS
## WEB3 ENDPOINTS
ETHERSCAN_API=your_etherscan_key

INFURA_PROJECT_ID=your_infura_project_id
INFURA_PROJECT_SECRET=your_infura_project_secret

ALCHEMY_API=your_alchemy_key

KOVAN_WEB3_PROVIDER=https://kovan.infura.io/v3/something
ROPSTEN_WEB3_PROVIDER=https://ropsten.infura.io/v3/something
MAINNET_WEB3_PROVIDER=https://ropsten.infura.io/v3/something

POLYGON_MAINNET_WEB3_PROVIDER=https://polygon-mainnet.infura.io/v3/something
POLYGON_MUMBAI_WEB3_PROVIDER=https://polygon-mumbai.infura.io/v3/something

POLYGON_MAINNET_RPC=https://rpc-mainnet.maticvigil.com
POLYGON_MUMBAI_RPC=https://rpc-mumbai.maticvigil.com

KOVAN_WEB3_NETWORK=kovan
ROPSTEN_WEB3_NETWORK=ropsten
MAINNET_WEB3_NETWORK=homestead

KOVAN_WEB3_SOCKET=wss://ropsten-rpc.linkpool.io/ws
ROPSTEN_WEB3_SOCKET=wss://ropsten-rpc.linkpool.io/ws
MAINNET_WEB3_SOCKET=wss://ropsten-rpc.linkpool.io/ws

## SERVICES APIS
MONGO_URI=mongodb://localhost:27017

CMC_ENDPOINT=https://pro-api.coinmarketcap.com/
CMC_API_KEY=YOUR_CMC_KEY

CMC_SANDBOX_ENDPOINT=https://sandbox-api.coinmarketcap.com/
CMS_SANDBOX_API_KEY=YOUR_SANDBOX_CMC_KEY

GAS_API_KEY=bca8621a178f9b958b86ea0610a0cd67c91b566cf4856ec83911e6324d82
GAS_ENDPOINT=https://ethgasstation.info/

ENS_ENDPOINT=https://api.thegraph.com/

# Truefi RELATED
TRUEFI_LENDER_DEPLOYED_CONTRACT=0x271b02176A9BD1336019A21eDA4ee79a5D32Db5a
TRUEFI_RATING_AGENCY_V2_CONTRACT=0x353488058bA40b280B73C06FEAdA42CA4d61f7Fc
TRUEFI_LOAN_FACTORY_CONTRACT=0x4ACE6dE67E9a9EDFf5c2d0a584390Fb5394119e7
TRUEFI_DUE_LOAN_DAYS=10

# AlphaHomora RELATED
HOMORA_BANK_DEPLOYED_CONTRACT=0xba5eBAf3fc1Fcca67147050Bf80462393814E54B
HOMORA_DEBT_RATIO_THRESHOLD=90

# WALLET MONITORING CONFIG
MASTER_WALLET_PRIVATE_KEY=
MASTER_WALLET_ETH_THRESHOLD=5
SHOWRUNNER_WALLET_ETH_THRESHOLD=0.5
ETHER_TRANSFER_AMOUNT=1
WALLET_MONITORING_JOB_RECURRENCE_PER_HOUR=1

# MAIL CONFIG
SUPPORT_MAIL_ADDRESS=support@epns.io
SUPPORT_MAIL_NAME="EPNS Support"
SOURCE_MAIL_ADDRESS="dbot@epns.io"
SOURCE_MAIL_NAME="EPNS Support Bot"

# SHOWRUNNERS CHANNELS PRIVATE KEYS
DEV_TESTING_PRIVATE_KEY=our_wallet_filled_with_ether_key

BTC_TICKER_PRIVATE_KEY=your_wallet_filled_with_ether_key
ETH_TICKER_PRIVATE_KEY=your_wallet_filled_with_ether_key
ENS_DOMAIN_EXPIRY_PRIVATE_KEY=your_wallet_filled_with_ether_key
COMP_COMPTROLLER_PRIVATE_KEY=your_wallet_filled_with_ether_key
ETH_GAS_STATION_PRIVATE_KEY=your_wallet_filled_with_ether_key
WALLET_TRACKER_PRIVATE_KEY=your_wallet_filled_with_ether_key
EVEREST_PRIVATE_KEY=your_wallet_filled_with_ether_key
HELLO_WORLD_PRIVATE_KEY=your_wallet_filled_with_ether_key
UNISWAP_PRIVATE_KEY=your_wallet_filled_with_ether_key
AAVE_PRIVATE_KEY=your_wallet_filled_with_ether_key
TRUEFI_PRIVATE_KEY=your_wallet_filled_with_ether_key
ALPHAHOMORA_PRIVATE_KEY=your_wallet_filled_with_ether_key
SNAPSHOT_PRIVATE_KEY=your_wallet_filled_with_ether_key
BPROTOCOL_PRIVATE_KEY=your_wallet_filled_with_ether_key
# AWS CONFIG
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=